doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 7 misol 
        link(rel="stylesheet", href="../../sass/style.css")
        link(rel="stylesheet", href="../../css/normalize.css")
    body 
    header.header 
        .header_loge 
            .header_link
                h1 Aire 
                img(src="../../image/123.png" alt="")
            .header_link 
                ol 
                    li SHOP
                    li ABOUT
                    li INNOVATION
                    li LOGIN
                    li CART
                .header_nav
                    h2 ANTI
                    p DESIGN
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero in mauris est condimentum suscipit. Viverra tincidunt amet aliquet massa rhoncus egestas eget id turpis. Augue nunc. 
                span.span
